@import "bourbon";
@import "font-awesome";

body {
}

ul li {
 list-style: none;
} 

 .myPeeps {
  font-size: 18px;
  border: 1px solid gray;
  width: 340px;
  height: 60px;
  background-color: #85BD00;
  color: white;
  cursor: pointer;
}
.fafa-user {
  
}
.amitShah {
  font-size: 13px;
  border: 1px solid gray;
  width: 340px;
  height: 60px;
  cursor: pointer;
}
.krishenShah {
  font-size: 13px;
  border: 1px solid gray;
  width: 340px;
  height: 60px;
  cursor: pointer;
}
.sheelaShah {
  font-size: 13px;
  border: 1px solid gray;
  width: 340px;
  height: 60px;
  cursor: pointer;
}
.ashShah {
  font-size: 13px;
  border: 1px solid gray;
  width: 340px;
  height: 60px;
  cursor: pointer;
}






